<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="facebookPost" value="https://m.facebook.com/sotrackboa/videos/1892014844150716/?hc_ref=ARR1IUZXQk1khbqbtjYrFZWYqE7-LqxfvND6O9Jpq1uYpUx3BsufwriwH_kY5yH8pMo"/>
    <add key="facebookPostNewLayout" value="https://www.facebook.com/sotrackboa/videos/1892014844150716/?hc_ref=ARR1IUZXQk1khbqbtjYrFZWYqE7-LqxfvND6O9Jpq1uYpUx3BsufwriwH_kY5yH8pMo"/>
    <add key="facebookLogin" value="https://www.facebook.com/login.php"/>
    <add key="login" value=""/>
    <add key="senha" value=""/>
    <add key="connectionString" value="Server=(LocalDb)\MSSQLLocalDB;Initial Catalog=FACEBOT;Integrated Security=true;"/>
  </appSettings>
</configuration>